header, main{
    text-align: center;
}

body{
    background-color: rgb(255, 229, 195);
}

div{
    margin: 10px;
}

li {
    border: 1px solid gray;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button{
    padding: 10px;
    margin-right: 15px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li {
    font-weight: 400;
    line-height: 1.5;
    padding: 8px 0;
}

span p{
    display: inline-block;
    min-width: 145px;
    text-align: left;;
}

#inputs{
    display: flex;
    margin-top: 15%;
    justify-content: center;
}

#addTask{
    display: block;
    width: 25%;
    flex: 0;
    margin-left: 5px;
}


input[type="text"]{
    display: block;
    width: 75%;
}

input[type="checkbox"] {
    width:30px;
    height:30px;
    
}

input[type="button"] {
padding: 15px;
flex: 1;
}

#buttons{
    display: flex;
    justify-content: space-between;
}

#taskBox{
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    grid-column: 1;
}
